<div class="container">
  <table class="table table-borderless bg-light">
    <thead>
      <tr class="table-primary">
        <th scope="col">name</th>
        <th scope="col">surname</th>
      </tr>
    </thead>
    <tbody>
      <% @group.students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.surname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
